.photoGrid {
    width: 200px;
    margin: 0 auto;
    outline: 4px solid silver;
}

.photoGrid-image {
    width: 200px;
    height: 170px;
}

.photoGrid-description {
    margin: 20px 0;
}

.photoGrid-floatFix:after {
    content: '';
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.photoGrid-button {
    width: 74px;
    height: 26px;
    display: inline-block;
    line-height: 15px;
    background: none;
    border: 2px solid silver;
    font-weight: bold;
    outline: none;
}

.photoGrid-button:hover {
    transform: scale(1.2);
    transition-duration: 0.3s
}

.button-first {
    float: left;
    margin-left: 15px;
}

.button-second {
    float: right;
    margin-right: 15px;
    vertical-align: middle;
}

.button-first > img {
    position: relative;
    top: 2px;
    left: -8px;
}

.button-second > img {
    position: relative;
    top: 3px;
    left: -8px;
}