.title {
    margin: 0px auto 20px auto;
    width: 400px;
    font-size: 40px;
    text-align: center;
}

.title-name {
    text-decoration: none;
    color: black;
}

.title:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

